@charset "UTF-8";

html, body {
    font-family: sans-serif;
    height: 1050px;
    width: 1500px;
    border: none;
}

#container{
	display: grid;
	grid-template-rows: 450px 600px;
	grid-template-columns: 350px 2000px;
	column-gap: 0px;
	row-gap: 0px;
}

#cameraCell{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

#menuCell{
	grid-row: 2 / 3 ;
	grid-column: 1 / 2;
	border: 1px;
}

#dataCell{
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column: 2 / 3;
}

#menuFrame{
	width: 350px;
}

#dataFrame{
	width: 97vw;
}